@model Project2BurgerMenu.Entities.Product

@{
    ViewBag.Title = "CreateProduct";
    Layout = "~/Areas/Admin/Views/AdminLayout/Index.cshtml";
}


<div class="col-12 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Yeni Ürün Girişi</h4>
            <form method="post">
                <label>Ürün Adı</label>
                @Html.TextBoxFor(x => x.ProductName, new { @class = "form-control" })
                <br />

                <label>Ürün Fiyatı</label>
                @Html.TextBoxFor(x => x.Price, new { @class = "form-control" })
                <br />

                <label>Ürün Görsel URL</label>
                @Html.TextBoxFor(x => x.ImageUrl, new { @class = "form-control" })
                <br />

                <label>Ürün Kategori</label>
                @Html.DropDownListFor(x => x.CategoryId, (List<SelectListItem>)ViewBag.v, new { @class = "form-control" })
                <br />

                <label>Ürün Açıklaması</label>
                @Html.TextAreaFor(x => x.Description, 4, 0, new { @class = "form-control" })
                <br />

                <button class="btn btn-info">Ürünü Ekle</button>
            </form>
        </div>
    </div>
</div>
